/XclassTestsRunner/bin
/XclassTestsRunner/obj
obj
bin
*.suo
*.user
/Xclass.Database/System.Data.SQLite.dll
/Xclass.Database/MySql.Data.dll
/XclassTestsCoverage/*
!XclassTestsCoverage/XclassCoverageTest.cmd