obj
bin
*.suo
*.user
/XclassTestsCoverage/*
!XclassTestsCoverage/XclassCoverageTest.cmd
packages/*
!packages/NUnit/README.md
!packages/SQLite/README.md
!packages/MySql/README.md
/XDatabaseTestsCoverage/CoverageReport/*